<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

SetEnv HTTP_LARAVEL_ENC_KEY "qua0ky7xa3sysp1pyki4ka1sha3do4re7fez"